---
import "../styles/home.css";
import Navigation from "../components/Navigation.astro";
import HeroSection from "../components/HeroSection.astro";
import AboutSection from "../components/AboutSection.astro";
import ProficiencySection from "../components/ProficiencySection.astro";
import ProjectsSection from "../components/ProjectsSection.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>WordPress Gatsby Blog</title>
  </head>
  <body>
    <Navigation />
    <HeroSection />
    <AboutSection />
    <ProficiencySection />
    <ProjectsSection />
    <Footer />
  </body>
</html>
