---
---

<nav>
  <a href="/" class="site-name">WordPress Gatsby Blog</a>
  <ul class="nav-menu">
    <li><a href="/" class="menu-link">Home</a></li>
    <li><a href="/posts" class="menu-link">Posts</a></li>
    <li><a href="/contact" class="menu-link">Contact</a></li>
  </ul>
</nav>

