---
---
<section class="proficiency-section" id="proficiency-section">
  <div class="proficiency-content">
    <h2 class="proficiency-title">Video de presentación</h2>

    <div class="video-container">
      <iframe
        width="800"
        height="500"
        src="https://www.youtube.com/watch?iaukRdeJLH8?si=oVwiWsRGq1TskNCE"
        title="Presentación"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
      </iframe>
    </div>

  </div>
</section>
